# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
.vscode/

# Build files
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.suo

# Logs
*.log

# Crash reports
Crashes/

# Generated project files
*.xcworkspace
*.xcodeproj

# OS files
.DS_Store
Thumbs.db